# MacOS files
.DS_Store

# IDE and Python files
__pycache__/
.ipynb_checkpoints/
.idea/
.vscode/
*.code-workspace

# virtual environment
venv

# project specific
testing.ipynb
dev/
old-sim-attempts/